@media all and (max-width: 1450px)
{
	
}
@media all and (max-width: 1250px)
{
}
@media all and (max-width: 1000px)
{
	#Back{
		width: 120px;
		margin-top: 20px;
		margin-left: 20px;
	}
	#Case2{
		height: 65%;
	}
	
}
@media all and (max-width: 850px)
{
	#Back{
		width: 110px;
		margin-top: 20px;
		margin-left: 20px;
	}
	.Text{
		font-size: 1em;
	}
	
}
@media all and (max-width: 750px)
{
	#TitleCategories{
		font-size: 3em;
	}
}
@media all and (max-width: 650px)
{
	.Text{
		font-size: 0.8em;
	}
}
@media all and (max-width: 600px)
{
	.Alice{
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	width: 40%
}
	#Case2 {
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
    width: 70%;
    height: 75%;
	}
	.Text{
		font-size: 1em;
	}
	.Commencer{
	margin-top: 45%;
	}

}

@media all and (max-width: 550px)
{
	#Back{
		width: 100px;
		margin-top: 22px;
		margin-left: 22px;
	}

}
@media all and (max-width: 450px)
{
	#Back{
		width: 90px;
		margin-top: 25px;
		margin-left: 15px;
	}
	.Text{
		font-size: 0.8em;
	}
	#Case2{
		height: 80%;
	}
}
@media all and (max-width: 350px)
{
	#Back{
		width: 85px;
		margin-top: 25px;
		margin-left: 15px;
	}
	.Text{
		font-size: 0.7em;
	}
}