body{
	background-color: #0a466d;
}
.section-box1{
	display:block;
	clear:both;
	margin-left:-8px;
	margin-right:;
	margin-top: -8px;
}

.section-box1{
	background-color: none;
	width:;
	height: 200px;
}
.header{
	background: linear-gradient(90deg,#3ff0c4,#27b1fb);
    height: 80px;
    width: ;
	margin-right: -8px;
    margin-left: 0px;
}
#Back{
	width: 150px;
	margin-top: 15px;
	margin-left: 15px;
}

.content{
   margin-top: -150px ;
   z-index: 2;
   position: relative;
}


#Presentation{
	padding-top: 0px;
    position: relative;
}

.section-box2{
	display:block;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10%;
	
}

.section-box2{
	background-color: none;
	width: 100%;
	height: 475px;
	
}	
.TitleCategories{
	margin-top: 100px;
}
#TitleCategories{
	font-size: 4em;
	color: white;
	font-family: "Varela Round";
	text-align: center;	
	text-decoration: underline  #3ff0c4;
}
#Categorie1{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-right: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
}
#Categorie2{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-right: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
}
#Categorie3{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
}
#Categorie4{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-right: 2%;
	margin-top: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
}
#Categorie5{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-right: 2%;
	margin-top: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
}
#Categorie6{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-top: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
}
#Categorie7{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-right: 2%;
	margin-top: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
}
#Categorie8{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-right: 2%;
	margin-top: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
}

#Categorie9{
	width: 32%;
	height: 32%;
	float: left;
	border-radius: 500px;
	margin-top: 2%;
	box-shadow: 0 1px 50px rgba(0, 0, 0, 0.712), 0 1px 502px rgba(255, 255, 255, 0.304);
	
	
}
